* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

body,
.stopwatch,
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container {
    width: 25%;
}

.my-container h3 {
    text-align: center;
}

.stopwatch {
    min-height: 16vh;
}

.controls {
    height: 10vh;
}

.controls button {
    font-size: 20px;
    border: none;
    background-color: rebeccapurple;
    color: #fff;
    box-shadow: 1px 1px 6px rebeccapurple;
    transition: all 500ms;
}

.controls button:hover {
    background-color: purple;
}

.controls button:focus {
    transform: scale(0.97, 0.97);
}

@media screen and (max-width:620px) {
    .my-container {
        width: 50%;
    }
}

@media screen and (max-width:360px) {
    .controls {
        flex-wrap: wrap;
    }
    .controls button {
        margin: 0.3rem !important;
    }
    .my-container {
        width: 75%;
    }
}